**/.sfdx/
**/.sf/
**/.git/
**/node_modules/
**/public/
**/.vscode/
**/.husky/
**/.config/


.env.local
.prettierignore
.prettierrc
eslint.config.js
jest.config.js
package.json
sfdx-project.json
project-scratch-def.json